@tailwind base;
@tailwind components;
@tailwind utilities;

select,
textarea,
input {
  @apply outline-primary;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.gradientBlue {
  background: linear-gradient(182deg, #e4e4ff, #e4ecff);
}

.deliveryBox {
  height: 100%;
  width:100%;
  border:1px dotted #979797;
  background-color: #eeeeee;
}

.imgFill {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.deliveryBox:hover {
  border-color: purple;
  border-style: solid;
  background-color: white;
}