@tailwind base;
@tailwind components;
@tailwind utilities;

select,
textarea,
input {
  @apply outline-primary;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.gradientBlue {
  background: linear-gradient(182deg, #e4e4ff, #e4ecff);
}
